* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #FAF1E4;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

a{
    text-decoration: none;
    font-size: 22px;
}

.btn {
    display: inline-block;
    background-color: #435334;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn:hover {
    background-color: #9EB384;
    color: #222831;
}

/*navbar*/
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #FAF1E4;
    align-items: center;
    justify-content: space-between; /* Ensure spacing between logo and nav */
    padding: 20px 40px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.navbar_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar_logo img{
    width: 250px;
    height: 120px;
}

.navbar_menu{
    border-bottom: 1px solid #000000;
}

.navbar_menu ul{
    list-style-type: none;
}

.navbar_menu ul li{
    margin-right: 50px;
        display: inline-block;
}

.navbar_menu a{
    text-decoration: none;
    color: #222831;
    font-size: 20px;
}

/*hero*/
.hero{
    margin-top: 160px;
}

.hero_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 25px 0;
}

.hero_heading {
    flex-basis: 40%;
    min-width: 280px;
}

.hero_heading h1 {
    font-size: 58px;
    line-height: 60px;
    margin: 25px 0;
}


.hero_image {
    flex-basis: 60%;
    min-width: 300px;
    text-align: center;
}

.hero_image img {
    max-width: 100%;
    padding: 10px 0;
}

/*Quiz*/
.find-scent{
    background: #FAF1E4;
    padding: 50px 0;
}

.find-scent_content h2{
    font-size: 58px;
    line-height: 60px;
    margin: 25px 0;
}

.find-scent_content p{
    font-size: 28px;

}

.find-scent_content .btn{
    left: 50%;
    -ms-transform: translate(-50%);
  transform: translate(-50%);
}

.find-scent_content img{
    width: 100%;
    height: auto;
}